#container{
    padding:25px;
   display: flex;
   flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:"#16181e";
}
#homeShortner{
 
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
#logo{
    font-family: 'Galada', cursive;
    color:black;
    font-size:30px;
}


#top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#middle{
    padding: 50px;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
#middle-btn-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#card-grp{
    padding: 30px;
    display: flex;
   
}
 #stats{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     
 }
#footer{
    padding: 20px;
    text-align: center;
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.btn-c {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
    }
    .btn-google-c {
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 1px #ddd
        }


@media only screen and (max-width: 600px) {
    #logo-middle{
        display:none;
    }
    #card-grp{
        display: block;
    }
  }